/*Just giving out page a little space*/

.content-wrapper {
    padding: 3rem 4rem;
    margin: 2rem;
}

/*We are fixing a menu and pulling them out of the screen by negative 'left'*/

.side-menu {
    padding: 0;
    margin: 0;
    font-size: 0;
    position: fixed;
    left: -120px;
    top: 100px;
    border-radius: 4px;
    opacity: .95;
    overflow: hidden;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    z-index: 1;
}

/*We need to hide the default input box*/

#menu-button {
    display: none;
}

/*if checkbox is checked next sibling's .side menu child slides in*/

#menu-button:checked + .menu-wrap .side-menu {
    left: 0px;
}

/*this is the label for the checkbox which act as a button for our menu*/

.menu-button--label {
    color: #0FA0CE;
    position: fixed;
    top: 50px;
    left: 10px;
    font-size: 3rem;
    text-align: center;
    line-height: 0;
    cursor: pointer;
    -webkit-transition: all 1s;
    transition: all 1s;
    z-index: 1;
}

/*Fancy rotation effect for our menu button. It rotates back when mouse leaves it */

.menu-button--label:hover {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-transition: all 1s;
    transition: all 1s;
}

/*We are giving the li item a shorter width to activate 'pop-out' effect when you hover*/

.side-menu--list li {
    font-size: 0;
    width: 110px;
}
.side-menu--list a {
    color: #fff;
    display: block;
    text-decoration: none;
    height: 4rem;
    line-height: 2rem;
    background: #333;
    padding-left: 1rem;
    width: 180px;
    font-size: 1.3rem;
}
.side-menu--list {
    list-style: none;
    padding-left: 0;
}

/*.subset is a sub-menu that we are styling to stand out a bit*/

.side-menu--list li a.subset {
    font-size: 1.3rem;
    height: 4.2rem;
    line-height: 4.2rem;
    padding-left: .5rem;
    background: #0FA0CE;
}

/*Applying overflow:hidden to get rid of the cluttering when the height is minimized*/

.side-menu--list li {
    height: 4.2rem;
    overflow: hidden;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

/*when you hover a li it expands to show all the menu links(and expands itself only)*/

.side-menu--list li:hover {
    height: 50.8rem;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    cursor: pointer;
    width: 180px;
}

/*We are skipping a sub-menu link and applying transformation to the follow-ups*/

.side-menu--list li a:not(:first-child):hover {
    cursor: pointer;
    background-color: #fff;
    color: #555;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
}
.ex3 .hide3 {
  width: 50%;
  display: table;
  height: 150px; /* any arbitrary height but best at the minimum initial height you would want. */
  overflow: hidden;
  transition: all 0.5s ease;
}
.inner3 {
  padding: 10px;
}
.ex3 input[type="checkbox"]:checked + .hide3 {
  height: 0;
  opacity: 0;
  display: block;
}

a:focus .top:after {
  border-top: 0.5em solid lawngreen;
  border-right: 0.5em solid lawngreen;
}

a:focus .bottom:after {
  border-top: 0.5em solid #e74c3c;
  border-right: 0.5em solid #e74c3c;
}

.top {
  display: inline-block;
}

.top:after {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  border-top: 0.5em solid #333;
  border-right: 0.5em solid #333;
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.bottom {
  display: inline-block;
}

.bottom:after {
  content: '';
  display: inline-block;
  margin-top: 0.6em;
  width: 1em;
  height: 1em;
  border-top: 0.5em solid #333;
  border-right: 0.5em solid #333;
  -moz-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
